.SelectedChatSection {
  flex: 1 1 70%;
  position: relative;
  background-color: #0b141a;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.BackgroundImage {
  position: absolute;
  inset: 0px;
  opacity: 0.05;
  background: url("/src/assets/images/bg-chat-room.png"), rgb(228, 220, 212);
}
