.ProfileOuter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px;
  min-height: 60px;
  background: #111b21;
}

.ProfileOptions {
  color: rgb(174, 186, 193);
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.darkModeIcon:hover,
.openStatusIcon:hover,
.newChatIcon:hover,
.moreOptionsIcon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.ProfileImage img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ProfileOptions svg {
  height: 24px;
  width: 24px;
  margin-left: 25px;
}

.ImportContactsNotification {
  min-height: 85px;
  padding: 20px;
  display: flex;
  align-items: center;
  background: #182229;
  position: relative;
}

.NoWifiIconWrapper {
  color: #53bdeb;
  margin-right: 10px;
}

.ErrorDescription {
  flex: 1 1 0%;
}

.NoContactsText {
  font-size: 1rem;
  margin-bottom: 5px;
  color: rgba(241, 241, 242, 0.88);
}

.NotificationSuggestion {
  font-size: 0.85rem;
  color: rgb(166, 168, 170);
  line-height: 17px;
}

.NotificationSuggestion a {
  text-decoration: underline;
}

.closeIcon {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: rgba(241, 241, 242, 0.92);
}
