button {
  padding: 4px;
  cursor: pointer;
}

.MessagesSection {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden scroll;
  padding: 20px 5% 2pc;
  flex-grow: 1;
}

.EncryptionMessage {
  background: rgb(32, 39, 43);
  color: rgb(250, 217, 100);
  font-size: 0.77rem;
  text-align: center;
  padding: 5px 10px;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 5px;
  line-height: 20px;
  z-index: 9;
}

.MessageList {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
}

.Message {
  z-index: 9;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  position: relative;
  max-width: 400px;
  align-self: end;
}

.EditDiv,
.DeleteDiv {
  transition: opacity 0.5s linear;
  position: absolute;
  top: -14px;
  opacity: 0;
  z-index: 10;
}

.EditDiv {
  right: 36px;
}

.DeleteDiv {
  right: -2px;
}

.Message:hover .EditDiv,
.Message:hover .DeleteDiv {
  opacity: 1;
}

.EditButton,
.DeleteButton {
  border-radius: 5px;
  cursor: pointer;
  background-color: gray;
  font-size: 0.7em;
  padding: 1px 1px 1px 1px;
}


.MessageText {
  background: #005c4b;
  align-self: flex-end;
  padding: 6px 7px 8px 9px;
  margin-bottom: 12px;
  font-size: 0.85rem;
  color: rgba(241, 241, 242, 0.88);
  max-width: 95%;
  min-width: 80px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.messageText {
  max-width: 85%;
  word-wrap: break-word;
}

.TimeStamp {
  align-self: end;
  color: rgb(166, 168, 170);
  font-size: 0.7rem;
  font-weight: 500;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.ModalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
}

.ModalActions {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}